h1 {
    text-align: center;
    font-family: 'Georgia', serif;;
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-top: 10%;
}

.image-item {
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
    background-color: white;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
	font-family: 'Georgia', serif;
    font-size: 150%;
    margin-bottom: 10px;
}

figcaption {
	font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 75%;
    margin-top: 5px;
}


